<?xml version="1.0"?>
<launch>
	<arg name="gui" default="false" />
	<param name="use_gui" value="$(arg gui)"/>

<!-- Camera linked to world-->
    <group ns="kinect">
        <param name="robot_description"	textfile="$(find villa_yolocloud)/config/kinect_world.urdf" />
        <node name="world_to_map" pkg="tf" type="static_transform_publisher" args="0 0 -2 0 0 0 /camera_base /map 10"/>
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    </group>
    <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find deepgaze_ros)/config/kinect.rviz" required="true" />-->

</launch>
